# Arduino Git Ignore File
# Adapted from https://github.com/github/gitignore/blob/main/Arduino.gitignore

# Ignore compiled binary files
*.hex
*.bin
*.elf

# Ignore pio files
.pio

# Ignore object files
*.o

# Ignore build folders
*/build/
*.ino.cpp

# Ignore Arduino temporary files
*.ino.elf
*.ino.hex

# Ignore backup files created by the Arduino IDE
*.bak

# Ignore local IDE settings (e.g., VS Code)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db